
/* CSS for Google Classroom */
.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #444;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #444;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    font-size: 1.2em;
    color: #444;
    border-bottom: 1px solid #ccc;
  }
  
  .assignments li:before {
    content: "\f02d";
    font-family: FontAwesome;
    padding-right: 10px;
  }
  
  .materials li:before {
    content: "\f15b";
    font-family: FontAwesome;
    padding-right: 10px;
  }
  
  .announcements li:before {
    content: "\f0a2";
    font-family: FontAwesome;
    padding-right: 10px;
  }
  